.Banner--div{
    /* background-image: url("Banner-bg.webp"); */
    background-size:cover;
    height: 650%;
    color: #fff;
    box-shadow:inset 20px 20px 100px 100px rgba(0, 0, 0, 0.459);
    overflow:hidden;
}

.content{
    padding-top: 140px;
    height: 190px;

}

.title{
    position: relative;
    font-size: 3.8rem;
    font-weight: 550;
    bottom:33%;
    left:3%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    max-width: 45%;
    text-align: left;
    
}
.description--div{
    position: relative;
    bottom: 10%;
}
.description{
font-size: 1.2rem;
max-width: 47%;
text-align: left;
margin-left: 3%;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 200;
color: rgba(255, 250, 250, 0.733);
line-height: 1.2;
}

.banner-buttons{
    position: relative;
    width: 100%;
    left:2%;
    bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: start;
    outline: none;
}

.button{
    border: none;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 0.4rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    padding-bottom: 0.4rem;
    background: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(2px);
    color: rgba(255, 255, 255, 0.815);
    font-size: 1.2rem;
    font-weight: 450;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;

}
.button:hover{
    color: rgba(0, 0, 0, 0.884);
    background: rgba(245, 245, 245, 0.521);
}
.Part{
 position: relative;
 bottom: 10%;
 text-align: left;
 text-align: left;
 margin-left: 3%;
 font-size: 1.4rem;
 color: rgba(255, 255, 255, 0.863);
 
}

.fade_bottom{
    height: 7.4rem;
    background: linear-gradient(180deg,rgba(0, 0, 255, 0),rgb(0, 0, 0));     
    width: 100%;   
}

@media (min-width: 320px) and (max-width:435px){
    .description{
        max-width: 85%;
    }
}


@media (min-width: 235px) and (max-width:935px){
    .title{
        max-width: 90%;
        font-size: 2.8rem;
    }
}
